@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.featured, .underfeat{
  font-family: 'Roboto', sans-serif;
}

.middle--block{
columns: 2;
margin: auto;
}

.map{
  width: 50%;
  border: solid 1px;
}

.carrousel{
  background-color: rgb(194, 156, 156);
}
